
.icon-easel:before { content: '\e800'; } /* '' */
.icon-clipboard:before { content: '\e801'; } /* '' */
.icon-doc:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-cancel-circle:before { content: '\e805'; } /* '' */
.icon-plus-circle:before { content: '\e806'; } /* '' */
.icon-minus-circle:before { content: '\e807'; } /* '' */
.icon-ok-circle:before { content: '\e808'; } /* '' */
.icon-link:before { content: '\e809'; } /* '' */
.icon-attach:before { content: '\e80a'; } /* '' */
.icon-picture:before { content: '\e80b'; } /* '' */
.icon-th-large:before { content: '\e80c'; } /* '' */
.icon-th:before { content: '\e80d'; } /* '' */
.icon-th-list:before { content: '\e80e'; } /* '' */
.icon-mail:before { content: '\e80f'; } /* '' */
.icon-search:before { content: '\e810'; } /* '' */
.icon-lock-open:before { content: '\e811'; } /* '' */
.icon-down-circle:before { content: '\e812'; } /* '' */
.icon-left-circle:before { content: '\e813'; } /* '' */
.icon-right-circle:before { content: '\e814'; } /* '' */
.icon-up-circle:before { content: '\e815'; } /* '' */
.icon-resize-full-circle:before { content: '\e816'; } /* '' */
.icon-folder:before { content: '\e817'; } /* '' */
.icon-doc-1:before { content: '\e818'; } /* '' */
.icon-arrows-cw:before { content: '\e819'; } /* '' */
.icon-cw-circle:before { content: '\e81a'; } /* '' */
.icon-updown-circle:before { content: '\e81b'; } /* '' */
.icon-archive:before { content: '\e81c'; } /* '' */
.icon-user:before { content: '\e81d'; } /* '' */
.icon-lock:before { content: '\e81e'; } /* '' */
.icon-cog:before { content: '\e81f'; } /* '' */
.icon-progress-0:before { content: '\e820'; } /* '' */
.icon-progress-1:before { content: '\e821'; } /* '' */
.icon-progress-2:before { content: '\e822'; } /* '' */
.icon-progress-3:before { content: '\e823'; } /* '' */
.icon-progress-4:before { content: '\e824'; } /* '' */
.icon-progress-5:before { content: '\e825'; } /* '' */
.icon-progress-6:before { content: '\e826'; } /* '' */
.icon-progress-7:before { content: '\e827'; } /* '' */
.icon-note:before { content: '\e828'; } /* '' */
.icon-lock-1:before { content: '\e829'; } /* '' */
.icon-attach-1:before { content: '\e82a'; } /* '' */
.icon-user-1:before { content: '\e82b'; } /* '' */
.icon-cog-1:before { content: '\e82c'; } /* '' */
.icon-thumbs-up:before { content: '\e82d'; } /* '' */
.icon-pencil:before { content: '\e82e'; } /* '' */
.icon-trash:before { content: '\e82f'; } /* '' */
.icon-doc-2:before { content: '\e830'; } /* '' */
.icon-calendar:before { content: '\e831'; } /* '' */
.icon-params:before { content: '\e832'; } /* '' */
.icon-sound:before { content: '\e833'; } /* '' */
.icon-mail-1:before { content: '\e834'; } /* '' */
.icon-search-1:before { content: '\e835'; } /* '' */
.icon-music:before { content: '\e836'; } /* '' */
.icon-star:before { content: '\e837'; } /* '' */
.icon-photo:before { content: '\e838'; } /* '' */
.icon-camera:before { content: '\e839'; } /* '' */
.icon-videocam:before { content: '\e83a'; } /* '' */
.icon-mobile:before { content: '\e83b'; } /* '' */
.icon-desktop:before { content: '\e83c'; } /* '' */
.icon-tv:before { content: '\e83d'; } /* '' */
.icon-lightbulb:before { content: '\e83e'; } /* '' */
.icon-clock:before { content: '\e83f'; } /* '' */
.icon-inbox:before { content: '\e840'; } /* '' */
.icon-eye:before { content: '\e841'; } /* '' */
.icon-globe:before { content: '\e842'; } /* '' */
.icon-paper-plane:before { content: '\e843'; } /* '' */
.icon-cup:before { content: '\e844'; } /* '' */
.icon-megaphone:before { content: '\e845'; } /* '' */
.icon-database:before { content: '\e846'; } /* '' */
.icon-key:before { content: '\e847'; } /* '' */
.icon-graduation-cap:before { content: '\e848'; } /* '' */
.icon-fire:before { content: '\e849'; } /* '' */
.icon-comment:before { content: '\e84a'; } /* '' */
.icon-location:before { content: '\e84b'; } /* '' */
.icon-tag:before { content: '\e84c'; } /* '' */
.icon-t-shirt:before { content: '\e84d'; } /* '' */
.icon-money:before { content: '\e84e'; } /* '' */
.icon-beaker:before { content: '\e84f'; } /* '' */
.icon-food:before { content: '\e850'; } /* '' */
.icon-shop:before { content: '\e851'; } /* '' */
.icon-diamond:before { content: '\e852'; } /* '' */
.icon-wallet:before { content: '\e853'; } /* '' */
.icon-truck:before { content: '\e854'; } /* '' */
.icon-heart:before { content: '\e855'; } /* '' */
.icon-cd:before { content: '\e856'; } /* '' */
.icon-cloud:before { content: '\e857'; } /* '' */
.icon-sort-alphabet-outline:before { content: '\e858'; } /* '' */
.icon-sort-numeric-outline:before { content: '\e859'; } /* '' */
.icon-sort-alphabet:before { content: '\e85a'; } /* '' */
.icon-looped-square-interest:before { content: '\e85b'; } /* '' */
.icon-sort-numeric:before { content: '\e85c'; } /* '' */
.icon-doc-text:before { content: '\e85d'; } /* '' */
.icon-doc-3:before { content: '\e85e'; } /* '' */
.icon-doc-add:before { content: '\e85f'; } /* '' */
.icon-doc-remove:before { content: '\e860'; } /* '' */
.icon-news:before { content: '\e861'; } /* '' */
.icon-edit:before { content: '\e862'; } /* '' */
.icon-cog-outline:before { content: '\e863'; } /* '' */
.icon-wrench-outline:before { content: '\e864'; } /* '' */
.icon-wrench:before { content: '\e865'; } /* '' */
.icon-basket:before { content: '\e866'; } /* '' */
.icon-calendar-outlilne:before { content: '\e867'; } /* '' */
.icon-calendar-1:before { content: '\e868'; } /* '' */
.icon-mic-outline:before { content: '\e869'; } /* '' */
.icon-mic:before { content: '\e86a'; } /* '' */
.icon-cog-2:before { content: '\e86b'; } /* '' */
.icon-picture-outline:before { content: '\e86c'; } /* '' */
.icon-picture-1:before { content: '\e86d'; } /* '' */
.icon-th-outline:before { content: '\e86e'; } /* '' */
.icon-th-1:before { content: '\e86f'; } /* '' */
.icon-th-large-outline:before { content: '\e870'; } /* '' */
.icon-th-large-1:before { content: '\e871'; } /* '' */
.icon-th-list-outline:before { content: '\e872'; } /* '' */
.icon-th-list-1:before { content: '\e873'; } /* '' */
.icon-ok-outline:before { content: '\e874'; } /* '' */
.icon-ok-1:before { content: '\e875'; } /* '' */
.icon-cancel-outline:before { content: '\e876'; } /* '' */
.icon-cancel-1:before { content: '\e877'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e878'; } /* '' */
.icon-cancel-circled:before { content: '\e879'; } /* '' */
.icon-plus-outline:before { content: '\e87a'; } /* '' */
.icon-plus:before { content: '\e87b'; } /* '' */
.icon-minus-outline:before { content: '\e87c'; } /* '' */
.icon-minus:before { content: '\e87d'; } /* '' */
.icon-divide:before { content: '\e87e'; } /* '' */
.icon-divide-outline:before { content: '\e87f'; } /* '' */
.icon-eq-outline:before { content: '\e880'; } /* '' */
.icon-eq:before { content: '\e881'; } /* '' */
.icon-attach-2:before { content: '\e882'; } /* '' */
.icon-attach-outline:before { content: '\e883'; } /* '' */
.icon-link-1:before { content: '\e884'; } /* '' */
.icon-link-outline:before { content: '\e885'; } /* '' */
.icon-home:before { content: '\e886'; } /* '' */
.icon-home-outline:before { content: '\e887'; } /* '' */
.icon-lock-2:before { content: '\e888'; } /* '' */
.icon-lock-filled:before { content: '\e889'; } /* '' */
.icon-lock-open-1:before { content: '\e88a'; } /* '' */
.icon-lock-open-filled:before { content: '\e88b'; } /* '' */
.icon-pin-outline:before { content: '\e88c'; } /* '' */
.icon-pin:before { content: '\e88d'; } /* '' */
.icon-eye-outline:before { content: '\e88e'; } /* '' */
.icon-eye-1:before { content: '\e88f'; } /* '' */
.icon-flag-filled:before { content: '\e890'; } /* '' */
.icon-flag:before { content: '\e891'; } /* '' */
.icon-thumbs-up-1:before { content: '\e892'; } /* '' */
.icon-thumbs-down:before { content: '\e893'; } /* '' */
.icon-print:before { content: '\e894'; } /* '' */
.icon-mail-2:before { content: '\e895'; } /* '' */
.icon-search-2:before { content: '\e896'; } /* '' */
.icon-search-outline:before { content: '\e897'; } /* '' */
.icon-star-1:before { content: '\e898'; } /* '' */
.icon-star-filled:before { content: '\e899'; } /* '' */
.icon-user-outline:before { content: '\e89a'; } /* '' */
.icon-user-2:before { content: '\e89b'; } /* '' */
.icon-users-outline:before { content: '\e89c'; } /* '' */
.icon-users:before { content: '\e89d'; } /* '' */
.icon-user-add:before { content: '\e89e'; } /* '' */
.icon-user-add-outline:before { content: '\e89f'; } /* '' */
.icon-user-delete-outline:before { content: '\e8a0'; } /* '' */
.icon-user-delete:before { content: '\e8a1'; } /* '' */
.icon-down-small:before { content: '\e8a2'; } /* '' */
.icon-left-small:before { content: '\e8a3'; } /* '' */
.icon-right-small:before { content: '\e8a4'; } /* '' */
.icon-up-small:before { content: '\e8a5'; } /* '' */
.icon-up-outline:before { content: '\e8a6'; } /* '' */
.icon-right-outline:before { content: '\e8a7'; } /* '' */
.icon-left-outline:before { content: '\e8a8'; } /* '' */
.icon-down-outline:before { content: '\e8a9'; } /* '' */
.icon-up:before { content: '\e8aa'; } /* '' */
.icon-right:before { content: '\e8ab'; } /* '' */
.icon-down:before { content: '\e8ac'; } /* '' */
.icon-left:before { content: '\e8ad'; } /* '' */
.icon-left-open:before { content: '\e8ae'; } /* '' */
.icon-right-open-outline:before { content: '\e8af'; } /* '' */
.icon-right-open:before { content: '\e8b0'; } /* '' */
.icon-left-open-outline:before { content: '\e8b1'; } /* '' */
.icon-zoom-out:before { content: '\e8b2'; } /* '' */
.icon-zoom-out-outline:before { content: '\e8b3'; } /* '' */
.icon-zoom-in:before { content: '\e8b4'; } /* '' */
.icon-zoom-in-outline:before { content: '\e8b5'; } /* '' */
.icon-resize-normal-outline:before { content: '\e8b6'; } /* '' */
.icon-resize-full-outline:before { content: '\e8b7'; } /* '' */
.icon-resize-full:before { content: '\e8b8'; } /* '' */
.icon-resize-normal:before { content: '\e8b9'; } /* '' */
.icon-move-outline:before { content: '\e8ba'; } /* '' */
.icon-move:before { content: '\e8bb'; } /* '' */
.icon-popup:before { content: '\e8bc'; } /* '' */
.icon-block:before { content: '\e8bd'; } /* '' */
.icon-block-outline:before { content: '\e8be'; } /* '' */
.icon-menu-outline:before { content: '\e8bf'; } /* '' */
.icon-menu:before { content: '\e8c0'; } /* '' */
.icon-arrows-cw-outline:before { content: '\e8c1'; } /* '' */
.icon-arrows-cw-1:before { content: '\e8c2'; } /* '' */
.icon-loop-outline:before { content: '\e8c3'; } /* '' */
.icon-loop:before { content: '\e8c4'; } /* '' */
.icon-loop-alt-outline:before { content: '\e8c5'; } /* '' */
.icon-loop-alt:before { content: '\e8c6'; } /* '' */
.icon-shuffle:before { content: '\e8c7'; } /* '' */
.icon-flow-cross:before { content: '\e8c8'; } /* '' */
.icon-flow-parallel:before { content: '\e8c9'; } /* '' */
.icon-flow-merge:before { content: '\e8ca'; } /* '' */
.icon-flow-split:before { content: '\e8cb'; } /* '' */